Question1:

In [2]:
import pandas as pd

data = {
    "Name": ["Aman", "Saurav", "Karan", "Shubham", "Abhishek", None, "Sameer"],
    "Age": [22, 23, None, 22, 25, 24, 26],
    "Marks": [85, None, 88, 90, 56, 72, None],
    "Subject": ["Math", "Physics", "Math", "Chemistry", "Math", "Physics", "Chemistry"]
}

df = pd.DataFrame(data)

print(df)

       Name   Age  Marks    Subject
0      Aman  22.0   85.0       Math
1    Saurav  23.0    NaN    Physics
2     Karan   NaN   88.0       Math
3   Shubham  22.0   90.0  Chemistry
4  Abhishek  25.0   56.0       Math
5       NaN  24.0   72.0    Physics
6    Sameer  26.0    NaN  Chemistry

In [3]:

print(df.shape)
print(df.dtypes)
print(df.describe())

(7, 4)
Name           str
Age        float64
Marks      float64
Subject        str
dtype: object
             Age      Marks
count   6.000000   5.000000
mean   23.666667  78.200000
std     1.632993  14.254824
min    22.000000  56.000000
25%    22.250000  72.000000
50%    23.500000  85.000000
75%    24.750000  88.000000
max    26.000000  90.000000

In [4]:
print(df[["Name", "Marks"]])
print("---------------")


print(df[df["Marks"] > 80])
print("---------------")


print(df[(df["Age"] > 22) & (df["Marks"] > 80)])
print("---------------")

print(df.groupby("Subject").size())

       Name  Marks
0      Aman   85.0
1    Saurav    NaN
2     Karan   88.0
3   Shubham   90.0
4  Abhishek   56.0
5       NaN   72.0
6    Sameer    NaN
---------------
      Name   Age  Marks    Subject
0     Aman  22.0   85.0       Math
2    Karan   NaN   88.0       Math
3  Shubham  22.0   90.0  Chemistry
---------------
Empty DataFrame
Columns: [Name, Age, Marks, Subject]
Index: []
---------------
Subject
Chemistry    2
Math         3
Physics      2
dtype: int64

In [5]:
df = pd.DataFrame(data)

print(df.isna().sum())

print(df[df["Marks"].isna()])

cleaned_df = df.dropna()

print(df.shape)
print(cleaned_df.shape)

Name       1
Age        1
Marks      2
Subject    0
dtype: int64
     Name   Age  Marks    Subject
1  Saurav  23.0    NaN    Physics
6  Sameer  26.0    NaN  Chemistry
(7, 4)
(3, 4)